html{
    display: flex;
    justify-content: center;
    width: 100%;
}
body {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    width: 1000px;
}








.general-table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
    /* Removes spacing between cells */
}

.general-table th,
.general-table td {
    border: 1px solid rgb(250,250,250);
    padding: 8px;
    text-align: left;
}
/* 
#general-table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#general-table tbody tr:nth-child(even) {
    background-color: #ffffff;
} */

.correct-percentage-visual {
    position: relative;
    width: 50%;
    padding: 50px;
}

.correct-percentage-visual-bar-container {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    border: 2px solid deepskyblue;
    background-color: white;
}

.correct-percentage-visual-bar {
    position: relative;
    display: inline-block;
    height: 100%;
    border-radius: calc(10px - 2px);
    background-color: skyblue;
    overflow: hidden;
}








#confusion-matrix-container {
    position: relative;
    width: 100%;
}

#confusion-matrix-demo{
    display: none; 
}

.single-confusion-matrix-div{
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 300px;
}

.single-confusion-matrix-table{
    position: relative;
    width: 300px;
    height: 300px;
}

.single-confusion-matrix-table td{
    text-align: center;
    font-size: 30px;
}

.confusion-matrix-tp, .confusion-matrix-tn{
    background-color: blanchedalmond;
}
.confusion-matrix-fp, .confusion-matrix-fn{
    background-color:lightblue;
}